#A 32-64 characters long
JWT_SECRET=
#the node env
NODE_ENV=development
#the prisma database url
DATABASE_URL=
#the port on which to start
PORT=6995
#the salt rounds number to use for password encryption
SALT_ROUNDS=10